name: 'PR Merge Certificate'

on:
  pull_request_target:
    types: [closed]

jobs:
  if_merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
    - run: |
        index.js
